html {
  height: 100%;
  width: 100%;
  background-color: #36413a;
}
body {
  font-family: Arial, sans-serif;
  background-color: #4b7ca7;
  color: #333;
  padding: 20px;
}
img {
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

a {
  color: #b12b2b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p{
  font-size: 18px;
  line-height: 1.83;
}

h2 {
  line-height: calc(28/16);
}